body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.jumbotron{ 
  background-color: darkslategrey;
  color: blanchedalmond;
}

.button, .button:hover {
  background-color: blanchedalmond;
  color: darkslategray;
  border: none;
}

.cardHeader{
  background-color: darkslategrey;
  color: blanchedalmond;
  text-align: center;
}


.projects{
  background-color: white;
}

.links{
  color: blue;
  font-size: small;
}


  
